div(class="row")
  div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
    div(id="fieldContainer")
      div If the conductor and metronome/battery (yellow dot) are visually together, anyone within the same ring as the metronome/battery may play with the conductor. For each ring outwards from the one which contains the battery/metronome, a player must anticipate the conductor by one note of the value selected for acceptable error. For each ring inwards from the battery/metronome, a player must play one note of the value selected for acceptable error behind the conductor. Anyone within the "green zone" may play with what they hear from the battery/metronome with negligible effect on time.

