div#main.panel.row
    img(src='/img/metronome.svg')
    
    div.row
        div.col-xs-12
            h1 PROJECT METRONOME
    div.row
        div.col-md-6.col-md-offset-1.col-xs-10.col-xs-offset-1
            p Project Metronome is a web application that helps 
              |directors/instructors of marching arts programs understand when it is 
              |appropriate for students to listen to the metronome/drumline and when the 
              |sound delay is too great that it will affect ensemble timing.
            p Created By: Brian Boudreaux, Zack Shackleton, Chris Sipes, 
                |and Sam Wildman

    div#button-row.row
        div.col-md-2.col-md-offset-1.col-xs-12
            a(type='button', href='#tutorial')#main-to-tutorial.btn-help.btn.btn-lg Tutorial
        div.col-md-2.col-md-offset-1.col-xs-12
            a(type='button', href='#field')#main-to-field.btn.btn-lg Get Started  

    div#email-row.row
        div.col-md-6.col-md-offset-1.col-xs-10.col-xs-offset-1
            p Email: #[a(href='mailto:contact@projectmetronome.com').email contact@projectmetronome.com]