div#results.panel.row
    div.row
        div.col-xs-12
            h2 PROJECT METRONOME
    div.row
        div.col-xs-2.col-xs-offset-10
            button(type='button' data-toggle='modal', data-target='#myModalR').btn-help.btn.btn-default.hidden-sm.hidden-xs ?
    div.row
        div#field-holder.col-xs-12
            div#field-container
                img(src='img/Field.svg')#field
                div#fieldContainer
    div#buttonrow.row
        div.col-md-2.col-md-offset-3.col-xs-12
            a(type='button', href='#main')#results-to-main.button.btn.btn-lg Start Over
        div.col-md-2.col-md-offset-2.col-xs-12
            a(type='button', data-toggle='modal', data-target='#extrasModal').button.btn.btn-lg.hidden-sm.hidden-xs Extras

        