div#tutorial.panel.content.row
        div.row
            h2.col-xs-12 Tutorial

        div#video.row
            div.col-xs-12
                iframe(width='630', height='472.5', src="https://www.youtube.com/embed/fDRXNcMAeqg", frameborder="0", allowfullscreen)
        div#info.row
            div.col-xs-12
                p Tip: Any time you see a button with the '?' symbol, click it to find a modal that explains your current screen.
                
        div#backButton.row
            div.col-md-1.col-md-offset-10.col-xs-5.col-xs-offset-2
                a(type='button', href="#main")#tutorial-back-main.btn.btn-lg Back

        
        